<body style="background-image:url(../../Images/oboik.ru_50639.jpg)" >
@{
    ViewBag.Title = "Контакты разработчиков";
}
<h2>@ViewBag.Title</h2>
<address style="font-size:27px; color:aliceblue ">
    <a href="https://vk.com/likhusya2013">Соколова Анжелика</a> - lika.sokolova23071999@gmail.com<br />
    <a href="https://vk.com/novikovaliza99">Новикова Елизавета</a><br />
    <a href="https://vk.com/pardon_willem">Пугачева Вероника</a>
</address>
</body>